/* Загальні стилі для сторінки */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Стиль для форми */
.feedback-form {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 408px;
  box-sizing: border-box;
}

/* Стиль для заголовка форми */
.feedback-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333333;
}

/* Стиль для полів введення */
.feedback-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
}

.feedback-form input[type='email'],
.feedback-form textarea {
  width: 100%;
  padding: 12px 16px;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.feedback-form label textarea {
  min-width: 360px;
  height: 80px;
  resize: none;
}

.feedback-form input[type='email']:hover,
.feedback-form textarea:hover {
  border: 1px solid #000;
}
.feedback-form textarea:active,
.feedback-form input[type='email']:active {
  border-color: #2e2f42;
}

/* Стиль для кнопки */
.feedback-form button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 8px 16px;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}

.feedback-form input[type='email']::placeholder,
.feedback-form textarea::placeholder {
  color: #999999;
  font-style: italic;
}

.return-btn {
  display: block;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 8px 16px;
}

.return-btn:hover {
  background-color: #6c8cff;
}
